<div class="modal fade" id="deleteRelationshipModal_{{ relationship.id }}" tabindex="-1" aria-labelledby="deleteRelationship_{{ relationship.id }}" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="deleteTag_{{ tag.id }}">Delete relationship {{ relationship.name }}?</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="{% url 'delete_relationship' relationship.id %}" method="post">
        {% csrf_token %}
        <div class="mb-3">
            <p>Are you sure you want to delete the relationship <b>{{ relationship.name }}</b>?</p>
            <p>This action will remove this relationship from all connections currently associated with it.</p>
        </div>
        <div class="mb-3">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Delete relationship</button>
        </div>
        </form>
      </div>
    </div>
  </div>
</div>