<div class="modal fade" id="updateTagModal_{{ tag.id }}" tabindex="-1" aria-labelledby="updateTag_{{ tag.id }}" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="updateTag_{{ tag.id }}">Update tag {{ tag.name }}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="{% url 'update_tag' tag.id %}" method="post">
        {% csrf_token %}
        <div class="mb-3">
            <input type="text" class="form-control" id="update_tag_name_{{ tag.id }}" name="update_tag_name_{{ tag.id }}" placeholder="Enter a tag name" value="{{ tag.name }}" aria-label="Tag name" required>
        </div>
        <div class="mb-3">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Update tag</button>
        </div>
        </form>
      </div>
    </div>
  </div>
</div>